@import "../../styles/_colors.scss";

.search-container {
  margin-top: 50px;

  .logo {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 0;
    margin-bottom: 25px;
    display: block;
  }

  @media (max-width: 600px) {
    .logo {
      display: inline-block;
      margin-bottom: 0;
      max-width: 100%;
    }
  }

  .search-container-box {
    position: relative;
    min-height: 48px;
    z-index: 100;

    .search-container-input {
      position: absolute;
      height: 48px;
      margin-top: 0;
      top: 0;

      i {
        position: absolute;
        width: 3rem;
        font-size: 2rem;
        transition: color .2s;
        top: 0px;
        right: 0px;

        &.active {
          color: #26a69a;
        }
      }
    }

    .search-container-results {
      position: absolute;
      height: auto;
      top: 48px;
      animation: fadein ease-out 0.5s;
      min-width: 100%;
      margin-top: 10px;
      margin-left: 10px;
      padding: 5px 0;
      background: rgba(0, 0, 0, 0.85);
      border-radius: 4px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      background-clip: padding-box;
      color: $lightGrey;

      ul {
        margin: 0;

        .search-suggestion {
          padding: 3px 20px;
          font-size: 18px;
          line-height: 24px;

          &:hover {
            color: $darkGrey;
            background-color: $limeGreen;
            cursor: pointer;
          }
        }
      }
    }
  }
}
