.cardcont {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.85);
}

.poster-container .poster {
  width: 100%;
  border-radius: 0 0 3px 3px;
}

.meta-data-container {
  padding: 15px;
  color: --lightGrey;
}

.meta-data-container h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.2em;
}

.meta-data-container .additional-details {
  margin: 35px 0 20px;
}

.meta-data-container .additional-details .genre-list {
  display: block;
  color: --limeGreen;
  font-size: 1.4em;
}

.meta-data-container .additional-details .production-list {
  display: block;
  margin-bottom: 20px;
}

.meta-data-container .additional-details .release-details div {
  margin-top: 15px;
}

.meta-data-container .meta-data {
  display: block;
  color: --limeGreen;
  font-size: 1.6em;
  line-height: 1.1em;
}

.tagline {
  display: block;
  padding-bottom: 0.25em;
  color: --limeGreen;
  font-size: 1.3em;
}
